# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# checksums of file tree
.checksumgo

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
samvaad-server
samvaad-server.exe

# Dependency directories (remove the comment below to include it)
# vendor/
bin/
proto/
!pkg/proto
# Mac
.DS_Store

# IDE
.idea/

dist/
backupdocs
backupdocs/
venv
venv/

# Next.js Frontend ignores
samvaad/frontend/node_modules/
samvaad/frontend/.next/
samvaad/frontend/out/
#samvaad/frontend/public/assets/

# Embedded Next.js build outputs
pkg/service/frontend_out/*
pkg/service/frontend_out
!pkg/service/frontend_out/placeholder.txt